<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello to Machine Learning</title>
</head>
<body>
    <form action="/" method="post">
        <label for="highbp">HighBP?</label>
        <input type="checkbox" name="highbp" id="highbp" checked="false"/>
        <br/>
        <label for="highchol">highchol?</label>
        <input type="checkbox" name="highchol" id="highchol"/>
        <br/>
        <label for="cholcheck">cholcheck?</label>
        <input type="checkbox" name="cholcheck" id="cholcheck"/>
        <br/>
        <label for="bmi">BMI?</label>
        <input type="number" name="bmi" id="bmi" value="0"/>
        <br/>
        <label for="gender">Gender?</label>
        <input type="checkbox" name="gender" id="gender"/>
        <br/>
        <label for="age">Age?</label>
        <input type="number" name="age" id="age" value="0"/>
        <br/>
        <input type="submit" name="submit" id="submit" value="Submit"/>
    </form>
</body>
</html>